<h1 style="margin-top: 50px" class="jumbotron text-center"> By category </h1>

<ul class="list-group">
	<li>
	   <%= link_to "All" , {controller: 'trivia', action: 'ans_trivia', id:"all"}%>
	</li>
	<%= @tags.each do |tag| %>

      <li class="list-group-item">
      	<%= link_to tag.name , {controller: 'trivia', action: 'ans_trivia', id:tag.id}%>
      </li>

    <% end %>
</ul>
