<h1 style="margin-top: 50px" class="jumbotron text-center">High Scores</h1>

<div class="row">

  <div class="span6 offset3">
    <table class="table table-striped">
        <thead>
            <th>
                User
            </th>
            <th>
                Score
            </th>
        </thead>
        <%= @order.each do |o|%>
            
            <tr>
                <td>
                    <%= o.user.FirstName %>
                </td>
                <td>
                    <%= o.total %>
                </td>
            </tr>


        <% end %>


    </table>

    

  </div>

</div>