<h1 style="margin-top: 50px" class="jumbotron text-center">Welcome to the Trivia Game!!</h1>
<p>It's fun answering Trivia Questions :). Choose your favourite category and proceed answering. Gain four points by answering correct.</p>
<p>Be careful on loosing one point by answering wrong</p>
